<head>
  <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client.js"></script>
</head>

<body>
  <!-- DIMMER -->
  <div class="ui active page dimmer" id="dimmerInput">
    <section id="join" class="content">
      <form id="JoinForm" class="ui form">
        <h1 id="titleHeader">GUESS ME!</h1>
          <h3 class="white">Choose your Avatar</h3>
          <div class="inline fields ui centered grid" id="iconBox">
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" class="radioBtns" value="send outline icon">
                <i class="send outline icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="wizard icon" class="radioBtns">
                <i class="wizard icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="handicap icon" class="radioBtns">
                <i class="handicap icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="wizard icon" class="radioBtns">
                <i class="spy icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="student icon" class="radioBtns">
                <i class="student icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="blind icon" class="radioBtns">
                <i class="blind icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="paw icon" class="radioBtns">
                <i class="paw icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="hand spock icon" class="radioBtns">
                <i class="hand spock icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="transgender icon" class="radioBtns">
                <i class="transgender icon radioBtns iconImage"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox avatarIcon">
                <input type="radio" name="avatar" value="barcode icon" class="radioBtns">
                <i class="barcode icon radioBtns iconImage"></i>
              </div>
            </div>

          </div>
          <!-- Submit Button -->
          <div class="field">
            <div class="ui input" id="usernameForm">
              <input type="text" name="name" placeholder="Username" required autofocus />
              <!-- <button class="ui icon teal button" id="sendJoin">Join!</button> -->
            </div>
          </div>
          <h3>Instructions:</h3>
          <p>The role of the moderator will be allocated to one person.</p>
          <p>The rest of the participants will have to ask the moderator questions resuting in yes/no answers.</p>
          <p>A point will be given to the person who guessed the word correctly</p>
          </br>
          <button class="ui icon teal button" id="sendJoin">Join!</button>
      </form>
    </section>
  </div>

  <!-- SIDE BAR -->
  <!-- <div class="ui visible left vertical inverted sidebar labeled icon menu" id="userBar">
  </div> -->

<div class="ui stackable grid">
  <div class="two wide column apple" id="sideBar">
    <!-- SIDE BAR -->
    <div class="ui vertical inverted labeled icon menu" id="userBar">
    </div>

  </div>
  <div class="fourteen wide column">

    <div class="ui stackable container" id="noticeUpdate">

    </div>
    <div class="ui stackable grid container">
    <!-- <div class="ui stackable grid"> -->
      <!--  LEFT COLUMN -->

      <div class="four wide column apple" id="leftBar">

        <!-- FALSE STATUS -->
        <div class="ui cards" id="falseStatus">
          <div class="card" data-tooltip="The more information you get, the closer you get!" data-inverted="" data-position="bottom right">
            <div class="content">
              <div class="header">Ask me!</div>
              <div class="description">
                <form id="questionForm" class="ui form">
                  <div class="ui fluid action input">
                    <input id="question" placeholder="Question" type="text">
                    <button class="ui icon teal button">
                      ?
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="card" data-tooltip="Know the answer?" data-inverted="" data-position="bottom right">
            <div class="content">
              <div class="header">Know the Answer?</div>
              <div class="description">
                <form id="guessForm" class="ui form">
                  <div class="ui fluid action input">
                    <input placeholder="Guess me!" type="text">
                    <button class="ui icon teal button" id="sendGuess">Guess!</button>
                  </div>


                  <!-- <div class="field ui fluid action input">
                    <input type="text" placeholder="Guess me!" required autofocus />
                    <button class="ui icon teal button" type="submit" id="sendGuess">Guess!</button>
                  </div> -->
                </form>
              </div>
            </div>
          </div>

          <div class="card" id="previousAns">
            <div class="content">
              <div class="header">Previous Answers</div>
              <div class="previousAnswers">
              </div>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div class="header">Incorrect Guesses</div>
              <div class="meta">Too bad, they're all wrong!</div>
              <div class="description failedGuess">
              </div>
            </div>
          </div>
        </div>

        <!-- TRUE STATUS -->
        <div class="ui cards" id="trueStatus">
          <div class="card">
            <div class="content">
              <div class="header">Word to Guess!</div>
              <div class="meta">Give them a hard time!</div>
              <div class="description">
                <h2 id="guesingWord"></h2>
              </div>
            </div>
          </div>

          <div class="card" id="previousAns">
            <div class="content">
              <div class="header">Previous Answers</div>
              <div class="previousAnswers">
              </div>
            </div>
          </div>

          <div class="card">
            <div class="content">
              <div class="header">Incorrect Guesses</div>
              <div class="meta">Too bad, they're all wrong!</div>
              <div class="description failedGuess">
              </div>
            </div>
          </div>
        </div>




      </div>

      <!-- RIGHT COLUMN -->
      <div class="twelve wide column pear">
        <!-- CHAT HISTORY -->
        <div class="row chatHistory" id="chatContainer">
          <h3 id="headerMessage">Clues!</h3>
          <div id="chatBox"></div>
        </div>

        <!-- <div class="ui cards row chatHistory" id="chatContainer">
          <div class="card" id="cardMessageBox">
            <div class="content">
              <div class="header" id="headerMessage">Clues!</div>
              <div id="chatBox"></div>
            </div>
            <h4 class="headerMessage">Clues!</h4>
            <div id="chatBox"></div>
          </div>
        </div> -->

    </div>
  </div>
</div>
</body>
