<head>
  <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client.js"></script>
</head>

<body>
  <!-- DIMMER -->
  <div class="ui active page dimmer" id="dimmerInput">
    <section id="join" class="content">
      <form id="JoinForm">
        <div class="ui action input">
          <input type="text" placeholder="Username" required autofocus />
          <button class="ui icon teal button" id="sendJoin">Join!</button>
        </div>
      </form>
    </section>
  </div>

<!-- SIDE BAR -->
<div class="ui visible left sidebar vertical inverted labeled icon menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
</div>

  <h1>Hello World!</h1>

  <div class="ui stackable container" id="noticeUpdate">
    <h2>NOTICE</h2>
  </div>
  <div class="ui stackable grid container">
  <!-- <div class="ui stackable grid"> -->
    <!--  LEFT COLUMN -->
    <div class="four wide column apple" id="leftBar">

      <!-- FALSE STATUS -->
        <div id="falseStatus">
          <div class="row apple" data-tooltip="The more information you get, the closer you get!" data-inverted="" data-position="bottom right">
            <h4>Type your question here!</h4>
            <form id="questionForm" class="fluid">
              <div class="ui fluid action input">
                <input id="question" type="text">
                <button class="ui icon teal button">
                  ?
                </button>
              </div>
            </form>
          </div>

          <div class="row apple">
            <h4>Know the answer? Guess it!</h4>
            <form id="guessForm">
              <div class="ui action input">
                <input type="text" placeholder="Guess me!" required autofocus />
                <button class="ui icon teal button" id="sendGuess">Guess!</button>
              </div>
            </form>
          </div>

          <div class="row apple">
            <h4>Previous Guesses!</h4>
            <div class="ui action input">
              <ul id="failedGuess">
              </ul>
            </div>
          </div>
        </div>

      <!-- TRUE STATUS -->
      <div id="trueStatus">
        <div class="row apple">
          <h4>Word to guess!</h4>
          <h2 id="guesingWord">Test</h2>
        </div>
        <div class="row apple">
          <h4>Previous Guesses!</h4>
          <div class="ui action input">
            <ul id="failedGuess"></ul>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="twelve wide column pear">
      <!-- CHAT HISTORY -->
      <div class="row chatHistory">
        <h4>Clues!</h4>
        <div id="chatBox"></div>
      </div>
    </div>

  </div>
</body>
