<form class="ui form">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
