body {
  /*background-color: #f6f6f6;*/
}

.apple {
  /*border: 1px solid orange;*/
}

.pear {
  /*border: 1px solid black;*/
}

.chatHistory {
  height: 500px;
  /*border: 1px solid orange;*/
  overflow-y: scroll;
}

#falseStatus {
  visibility: hidden;
  position: absolute;
}

#trueStatus {
  visibility: hidden;
  position: absolute;
}

#leftBar {
  position: relative;
  height: 650px;
}

#noticeUpdate {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  height: 80px;
  /*border: 1px solid red;*/
}

.ui.button {
  margin-right: 3px;
  margin-bottom: 3px;
}

.maxWidth {
  width: inherit;
}

#sendGuess {
  margin-top: 5px;
  display: block;
}

.cards {
  width: 100%;
}

.dimmer {
  color: white;
}

.white {
  color: white;
}

.avatarIcon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 5px;
}

.avatarIcon:hover {
  background-color: black;
}

#usernameForm {
  width: 300px;
}

#sendJoin {
  width: 300px;
}

#joinForm .radioBtns {
  font-size: 30px;
  height: 50px;
  width: 40px;
}

.iconImage {
  position: absolute;
  left: 0;
  top: 13px;
}

#iconBox .field {
  text-align: center !important;
}

#userBar {
  height: 100vh;
  background-color: #1B1C1D;
}

#dimmerInput {
  color: white;
}

#chatBox .messageLength {
  width: 90%;
  margin-left: 5%;
}

#headerMessage {
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
}

#cardMessageBox {
  width: 95%;
  margin-left: 5%;
  height: 620px;
}

#chatContainer {
  height: 650px;
  visibility: hidden;
  border-radius: .28571429rem!important;
  border: 1px solid #D4D4D5;
  margin-top: -1.5px;
}

#sideBar {
  padding-bottom: 0px;
}
